body {
    background-color: bisque;
}
h1 {
    background-color: brown;
    text-align: center;
    text-decoration: underline;
    color:antiquewhite;
}
h2 {
    background-color: brown;
    color: antiquewhite;
}
.footer {
    background-color: brown;
    margin-top: 35px;
    padding: 5px;
    font-weight: bold;
    color: antiquewhite;
}